.cartelera {
    display: flex;
    flex-direction: row;
}

.cartelera .cartelera__en-cines {
    flex-basis: 50%;
    flex-shrink: 0;
    justify-content: space-between;
}
.cartelera .cartelera__futuros-estrenos {
    flex-basis: 50%;
    flex-shrink: 0;
    justify-content: space-between;
    

}